 /* General Page CSS*/
.avatar{
	width:100px;
	height:100px;
	border-radius:50%;
	position:absolute;
	top:-50px;
	left:calc(50% - 50px);
}

/* Log-in Page CSS */
#login-body{
	 margin:0;
	 padding:0;
	 background:url(images/backgroundpic.jpg);
	 background-size:cover;
	 background-position:center;
	 font-family:sans-serif;
}

.login-box{
	width:320px;
	height:320px;
	background:rgba(0,0,0,0.9);
	color:#fff;
	top:50%;
	left:50%;
	bottom:50%;
	right:50%;
	position:absolute;
	transform:translate(-50%, -50%);
	box-sizing:border-box;
	padding:70px 30px;
	border-radius:5%;
}

.login-box h1{
	margin:0;
	padding: 0 0 20px;
	text-align: center;
	font-size:22px;
}

.login-box p{
	margin:0;
	padding:0;
	font-weight:bold;
}

.login-box input{
	width:100%;
	margin-bottom:10px;
}

.login-box input[type="text"], input[type="password"]{
	border:none;
	border-bottom:1px solid #fff;	
	background:transparent;
	outline:none;
	height:20px;
	color: #fff;
	font-size:16px;
}

.login-box input[type="submit"]{
	border:none;
	outline:none;
	height:40px;
	background:#fb2525;
	color: #fff;
	font-size:18px;
	border-radius:20px;
}

.login-box input[type="submit"]:hover{
	cursor:pointer;
	background:#ffc107;
	color:#000;
}

.login-box a{
	text-decoration:none;
	font-size:12px;
	line-height:20px;
	color:darkgrey;
}

.login-box a:hover{
	color:#ffc107;
}

/* Registration Page CSS*/
#register-body{
	 margin:0;
	 padding:0;
	 background:url(images/backgroundpic.jpg);
	 background-size:cover;
	 background-position:center;
	 font-family:sans-serif;
}

.signUpBox{
	width:320px;
	height:500px;
	background:rgba(0,0,0,0.9);
	color:#fff;
	top:50%;
	left:50%;
	bottom:50%;
	right:50%;
	position:absolute;
	transform:translate(-50%, -50%);
	box-sizing:border-box;
	padding:70px 30px;
	border-radius:5%;
}

.signUpBox input{
	width:100%;
	margin-bottom:10px;
}

.signUpBox h1{
	margin:0;
	padding: 0 0 20px;
	text-align: center;
	font-size:22px;
}

.signUpBox p{
	margin:0;
	padding:0;
	font-weight:bold;
	font-size:16px;
}

.signUpBox input[type="submit"]{
	border:none;
	outline:none;
	height:40px;
	background:#fb2525;
	color: #fff;
	font-size:18px;
	border-radius:20px;
}

.signUpBox input[type="submit"]:hover{
	cursor:pointer;
	background:#ffc107;
	color:#000;
}

.signUpBox input[type="text"], input[type="password"]{
	border:none;
	border-bottom:1px solid #fff;
	background:transparent;
	outline:none;
	height:20px;
	color: #fff;
	font-size:15px;
}
.signUpBox a{
	text-decoration:none;
	font-size:12px;
	line-height:20px;
	color:darkgrey;
}

.signUpBox a:hover{
	color:#ffc107;
}

.signUpBox h2{
	width:100%;
	margin:0;
	padding:0 0 0 0;
	font-weight:bold;
	font-size:14px;
}

/* Book Order Page */
#order-body{
	 margin:0;
	 padding:0;
	 width:auto;
	 height:auto;
	 background:url(images/orderPageBanner.jpg);
	 background-size:cover;
	/*background-repeat:no-repeat;*/
	 background-position:center;
	 font-family:sans-serif;
}

.order-header { /* Not Currently In Use */
	 margin:0;
	 padding:150px;
	 width:100%;
	 height:100%;
	 background-position:center;
	 background-size:contain;
	 font-family:sans-serif;
 }

.order-header h1 {
	 margin:0;
	 padding: 0 0 0;
	 text-align:center;
	 top:50%;
	 left:50%;
	 color:white;
	 font-size:40px;
}

.order-form{
	 width:450px;
	 height:620px;
	 background:rgba(0,0,0,0.8);
	 color:#fff;
	 top:50%;
	 left:50%;
	 bottom:50%;
	 right:50%;
	 position:absolute;
	 transform:translate(-50%, -50%);
	 box-sizing:border-box;
	 padding:70px 30px;
	 border-radius:5%;
}

.order-form h1{
	 margin:0;
	 padding: 0 0 20px;
	 text-align: center;
	 font-size:22px;
}

.order-info p{
	display: flex;
	flex-direction: column;
	margin:0;
	padding:0;
	font-weight:bold;
	font-size:16px;
}

.order-info input{
	width:100%;
	margin-bottom:20px;
}

.order-info input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
	-webkit-appearance:none;
	margin:0;
}

.order-info input:invalid{
	color:#fff;
}

.order-info input[type="text"],[type="number"],[type="tel"],[type="email"]{
	border:none;
	border-bottom:1px solid #fff;
	background:transparent;
	outline:none;
	height:20px;
	color: #fff;
	font-size:16px;
	-moz-appearance: textfield;
}

.order-form input[type="submit"]{
	width:100%;
	border:none;
	outline:none;
	height:55px;
	background:#fb2525;
	color: #fff;
	font-size:18px;
	border-radius:20px;
}

.order-form input[type="submit"]:hover{
	cursor:pointer;
	background:#ffc107;
	color:#000;
}

/* Dashboard Page */
 * #dash-body{
	 box-sizing: border-box;
 }

 .dash-row::after {
	 content: "";
	 clear: both;
	 display: table;
 }

 [class*="dash-col-"] {
	 float: left;
	 padding: 15px;
 }

 html #dash-body{
	 font-family: "Lucida Sans", sans-serif;
 }

 .dash-header {
	 background-color: #9933cc;
	 color: #ffffff;
	 padding: 15px;
 }

 .dash-menu ul {
	 list-style-type: none;
	 margin: 0;
	 padding: 0;
 }

 .dash-menu li {
	 padding: 8px;
	 margin-bottom: 7px;
	 background-color: #33b5e5;
	 color: #ffffff;
	 box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
 }

 .dash-menu li:hover {
	 background-color: #0099cc;
 }

 .dash-aside {
	 background-color: #33b5e5;
	 padding: 15px;
	 color: #ffffff;
	 text-align: center;
	 font-size: 14px;
	 box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
 }

 .dash-footer {
	 background-color: #0099cc;
	 color: #ffffff;
	 text-align: center;
	 font-size: 12px;
	 padding: 15px;
 }

 /* For mobile phones: */
 [class*="dash-col-"] {
	 width: 100%;
 }

 @media only screen and (min-width: 600px) {
	 /* For tablets: */
	 .dash-col-s-1 {width: 8.33%;}
	 .dash-col-s-2 {width: 16.66%;}
	 .dash-col-s-3 {width: 25%;}
	 .dash-col-s-4 {width: 33.33%;}
	 .dash-col-s-5 {width: 41.66%;}
	 .dash-col-s-6 {width: 50%;}
	 .dash-col-s-7 {width: 58.33%;}
	 .dash-col-s-8 {width: 66.66%;}
	 .dash-col-s-9 {width: 75%;}
	 .dash-col-s-10 {width: 83.33%;}
	 .dash-col-s-11 {width: 91.66%;}
	 .dash-col-s-12 {width: 100%;}
 }
 @media only screen and (min-width: 768px) {
	 /* For desktop: */
	 .dash-col-1 {width: 8.33%;}
	 .dash-col-2 {width: 16.66%;}
	 .dash-col-3 {width: 25%;}
	 .dash-col-4 {width: 33.33%;}
	 .dash-col-5 {width: 41.66%;}
	 .dash-col-6 {width: 50%;}
	 .dash-col-7 {width: 58.33%;}
	 .dash-col-8 {width: 66.66%;}
	 .dash-col-9 {width: 75%;}
	 .dash-col-10 {width: 83.33%;}
	 .dash-col-11 {width: 91.66%;}
	 .dash-col-12 {width: 100%;}
 }