 /* General Page CSS*/
.avatar{
	width:100px;
	height:100px;
	border-radius:50%;
	position:absolute;
	top:-50px;
	left:calc(50% - 50px);
}
thead{
	padding: 15px;
	text-align:left;
	background-color:#fb2525;
}
td{
	padding: 15px;
	text-align:left;
}

 tr:nth-child(even) {background-color: #f2f2f2;}

/* Log-in Page CSS */
#login-body{
	 margin:0;
	 padding:0;
	 background:url(images/backgroundpic.jpg);
	 background-size:cover;
	 background-position:center;
	 font-family:sans-serif;
}

.login-box{
	width:320px;
	height:360px;
	background:rgba(0,0,0,0.9);
	color:#fff;
	top:50%;
	left:50%;
	bottom:50%;
	right:50%;
	position:absolute;
	transform:translate(-50%, -50%);
	box-sizing:border-box;
	padding:70px 30px;
	border-radius:5%;
}

.login-box h1{
	margin:0;
	padding: 0 0 20px;
	text-align: center;
	font-size:22px;
}

.login-box p{
	margin:0;
	padding:0;
	font-weight:bold;
}

.login-box input{
	width:100%;
	margin-bottom:10px;
}

.login-box input[type="text"], input[type="password"]{
	border:none;
	border-bottom:1px solid #fff;	
	background:transparent;
	outline:none;
	height:20px;
	color: #fff;
	font-size:16px;
}

.login-box input[type="submit"]{
	border:none;
	outline:none;
	height:40px;
	background:#fb2525;
	color: #fff;
	font-size:18px;
	border-radius:20px;
}

.login-box input[type="submit"]:hover{
	cursor:pointer;
	background:#ffc107;
	color:#000;
}

.login-box a{
	text-decoration:none;
	font-size:12px;
	line-height:20px;
	color:darkgrey;
}

.login-box a:hover{
	color:#ffc107;
}

/* Registration Page CSS*/
#register-body{
	 margin:0;
	 padding:0;
	 background:url(images/backgroundpic.jpg);
	 background-size:cover;
	 background-position:center;
	 font-family:sans-serif;
}

.signUpBox{
	width:320px;
	height:600px;
	background:rgba(0,0,0,0.9);
	color:#fff;
	top:50%;
	left:50%;
	bottom:50%;
	right:50%;
	position:absolute;
	transform:translate(-50%, -50%);
	box-sizing:border-box;
	padding:70px 30px;
	border-radius:5%;
}

.signUpBox input{
	width:100%;
	margin-bottom:10px;
}

.signUpBox h1{
	margin:0;
	padding: 0 0 20px;
	text-align: center;
	font-size:22px;
}

.signUpBox p{
	margin:0;
	padding:0;
	font-weight:bold;
	font-size:16px;
}

.signUpBox input[type="submit"]{
	border:none;
	outline:none;
	height:40px;
	background:#fb2525;
	color: #fff;
	font-size:18px;
	border-radius:20px;
}

.signUpBox input[type="submit"]:hover{
	cursor:pointer;
	background:#ffc107;
	color:#000;
}

.signUpBox input[type="text"], input[type="password"]{
	border:none;
	border-bottom:1px solid #fff;
	background:transparent;
	outline:none;
	height:20px;
	color: #fff;
	font-size:15px;
}
.signUpBox a{
	text-decoration:none;
	font-size:12px;
	line-height:20px;
	color:darkgrey;
}

.signUpBox a:hover{
	color:#ffc107;
}

.signUpBox h2{
	width:100%;
	margin:0;
	padding:0 0 0 0;
	font-weight:bold;
	font-size:14px;
}

/* Book Order Page */
#order-body{
	 margin:0;
	 padding:0;
	 width:auto;
	 height:auto;
	 background:url(images/orderPageBanner.jpg);
	 background-size:cover;
	/*background-repeat:no-repeat;*/
	 background-position:center;
	 font-family:sans-serif;
}

.order-header { /* Not Currently In Use */
	 margin:0;
	 padding:150px;
	 width:100%;
	 height:100%;
	 background-position:center;
	 background-size:contain;
	 font-family:sans-serif;
 }

.order-header h1 {
	 margin:0;
	 padding: 0 0 0;
	 text-align:center;
	 top:50%;
	 left:50%;
	 color:white;
	 font-size:40px;
}

.order-form{
	 width:450px;
	 height:620px;
	 background:rgba(0,0,0,0.8);
	 color:#fff;
	 top:50%;
	 left:50%;
	 bottom:50%;
	 right:50%;
	 position:absolute;
	 transform:translate(-50%, -50%);
	 box-sizing:border-box;
	 padding:70px 30px;
	 border-radius:5%;
}

.order-form h1{
	 margin:0;
	 padding: 0 0 20px;
	 text-align: center;
	 font-size:22px;
}

.order-info p{
	display: flex;
	flex-direction: column;
	margin:0;
	padding:0;
	font-weight:bold;
	font-size:16px;
}

.order-info input{
	width:100%;
	margin-bottom:20px;
}

.order-info input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
	-webkit-appearance:none;
	margin:0;
}

.order-info input:invalid{
	color:#fff;
}

.order-info input[type="text"],[type="number"],[type="tel"],[type="email"]{
	border:none;
	border-bottom:1px solid #fff;
	background:transparent;
	outline:none;
	height:20px;
	color: #fff;
	font-size:16px;
	-moz-appearance: textfield;
}

.order-form input[type="submit"]{
	width:100%;
	border:none;
	outline:none;
	height:55px;
	background:#fb2525;
	color: #fff;
	font-size:18px;
	border-radius:20px;
}

.order-form input[type="submit"]:hover{
	cursor:pointer;
	background:#ffc107;
	color:#000;
}

 /* Dashboard Page */
.dash-content {
	margin-left: 200px;
	padding: 1px 16px;
	height: 1000px;
 }
 /* Responsive sidebar nav */
 #dash{
	 margin: 0;
	 font-family:"Roboto", sans-serif;
	 background:url(images/dashBackground.jpg) no-repeat center center fixed;
	 background-size:cover;
 }

 .sidebar-nav {
	 height: 100%;
	 width: 0;
	 position: fixed;
	 z-index: 1;
	 top: 0;
	 left: 0;
	 background-color: #111;
	 overflow-x: hidden;
	 transition: 0.5s;
	 padding-top: 60px;
	 font-family:"Roboto", sans-serif;
 }

 .sidebar-nav a {
	 padding: 8px 8px 8px 32px;
	 text-decoration: none;
	 font-size: 25px;
	 color: #818181;
	 display: block;
	 transition: 0.3s;
 }
 .sidebar-nav a.active-nav {
	 background-color: #fb2525;
	 color: white;
 }
 .closebtn {
	 position: absolute;
	 top: 0;
	 right: 25px;
	 font-size: 36px;
	 margin-left: 50px;
 }
 .sidebar-nav a:hover:not(.active-nav) {
	 background-color: #555;
	 color: white;
 }

 #main{
	 transition: margin-left .5s;
	 padding: 16px;
	 font-family: sans-serif;
 }

 @media screen and (max-width: 700px) {
	 .sidebar-nav {
		 width: 100%;
		 height: auto;
		 position: relative;
	 }
	 .sidebar-nav a {float: left;}
	 div.dash-content {margin-left: 0;}
	 div.order-content{margin-left: 0;}
 }

 @media screen and (max-width: 400px) {
	 .sidebar-nav a {
		 text-align: center;
		 float: none;
	 }
 }